@using System.Net.Http.Headers
@using System.Net.Http.Json
@using GlassBoard.Abstractions.Provider
@using GlassBoard.Request.Add
@using SharedLibrary.Enum
@inject ISnackbar Snackbar
@inject ICheckProvider CheckProvider

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.AddChart" Class="mr-3 mb-n1" />
            Nuovo Check Tecnico
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 600px; overflow-y: auto;">
            <MudGrid Dense="true">
                @* --- INFO BASE --- *@
                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="_model.Name" Label="Nome Check*" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="CheckCategoryTypes?" Label="Categoria" @bind-Value="_model.Category" Variant="Variant.Outlined" Margin="Margin.Dense">
                        @foreach (CheckCategoryTypes item in Enum.GetValues(typeof(CheckCategoryTypes)))
                        {
                            <MudSelectItem Value="@((CheckCategoryTypes?)item)">@item.ToString()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                @* --- LOCALIZZAZIONE MESSAGGI --- *@
                <MudItem xs="12" Class="mt-4">
                    <div class="d-flex align-center justify-space-between mb-2">
                        <MudText Typo="Typo.subtitle2"><b>Messaggi Localizzati*</b></MudText>
                        <MudButton StartIcon="@Icons.Material.Filled.Language" Size="Size.Small" Variant="Variant.Outlined" Color="Color.Info" OnClick="AddLocalization">Aggiungi Lingua</MudButton>
                    </div>
                    @if (_model.TemplateLocalizedMessages != null)
                    {
                        @foreach (var langKey in _model.TemplateLocalizedMessages.Keys.ToList())
                        {
                            <MudPaper Outlined="true" Class="pa-3 mb-2" Style="background-color: var(--mud-palette-background-grey);">
                                <MudGrid Dense="true" AlignItems="Center">
                                    <MudItem xs="12" md="3">
                                        <MudSelect T="string" Label="Lingua" Value="langKey" ValueChanged="@(newKey => OnLanguageKeyChanged(langKey, newKey))" Margin="Margin.Dense" Variant="Variant.Outlined">
                                            <MudSelectItem Value="@("it-IT")">Italiano (it-IT)</MudSelectItem>
                                            <MudSelectItem Value="@("en-US")">Inglese (en-US)</MudSelectItem>
                                            <MudSelectItem Value="@("fr-FR")">Francese (fr-FR)</MudSelectItem>
                                            <MudSelectItem Value="@("es-ES")">Spagnolo (es-ES)</MudSelectItem>
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="12" md="7">
                                        <MudTextField T="string" Label="Messaggio"
                                                      Value="@_model.TemplateLocalizedMessages[langKey]"
                                                      ValueChanged="@(val => _model.TemplateLocalizedMessages[langKey] = val)"
                                                      Margin="Margin.Dense" Variant="Variant.Outlined" Required="true" />
                                    </MudItem>
                                    <MudItem xs="12" md="2" Class="d-flex justify-end">
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                                       Disabled="@(_model.TemplateLocalizedMessages.Count <= 1)"
                                                       OnClick="@(() => _model.TemplateLocalizedMessages.Remove(langKey))" Size="Size.Small" />
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                        }
                    }
                </MudItem>

                @* --- CONFIGURAZIONE QUERY (INPUT QUERIES) --- *@
                <MudItem xs="12" Class="mt-4">
                    <div class="d-flex align-center justify-space-between mt-2">
                        <MudText Typo="Typo.subtitle2">Input Queries (Data Sample)</MudText>
                        <MudButton StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="AddInputQuery" Color="Color.Info">Aggiungi Input</MudButton>
                    </div>
                    @if (_model.DataSampleQuery?.InputQueries != null)
                    {
                        @foreach (var input in _model.DataSampleQuery.InputQueries)
                        {
                            <MudPaper Outlined="true" Class="pa-3 mt-1 mb-2" Style="background-color: var(--mud-palette-background-grey);">
                                <MudGrid Dense="true">
                                    <MudItem xs="12" md="4">
                                        <MudSelect T="InputTypes" @bind-Value="input.InputType" Label="Tipo Input" Margin="Margin.Dense">
                                            @foreach (InputTypes type in Enum.GetValues(typeof(InputTypes)))
                                            {
                                                <MudSelectItem Value="@type">@type.ToString()</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                    <MudSelect T="string" @bind-Value="input.InputName" Label="Seleziona Input" Margin="Margin.Dense">
                                        @foreach (var mName in AvailableMetrics)
                                        {
                                            <MudSelectItem Value="@mName">@mName</MudSelectItem>
                                        }
                                    </MudSelect>
                                    <MudItem xs="12" md="4">
                                        <MudTextField @bind-Value="input.ProjectedInputName" Label="Alias (Projected)" Margin="Margin.Dense" />
                                    </MudItem>

                                    <MudItem xs="12" md="4">
                                        <MudSelect T="CheckQueryTypes?" @bind-Value="input.CheckQueryType" Label="Tipo Query" Margin="Margin.Dense">
                                            @foreach (CheckQueryTypes qType in Enum.GetValues(typeof(CheckQueryTypes)))
                                            {
                                                <MudSelectItem Value="@((CheckQueryTypes?)qType)">@qType.ToString()</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        @if (input.CheckQueryType == CheckQueryTypes.TimeRange)
                                        {
                                            <MudTextField T="string" Label="Time Range (hh:mm:ss)"
                                                          Value="@GetTimeSpanString(input.ItemsTimeRange)"
                                                          ValueChanged="@(s => input.ItemsTimeRange = ParseTimeSpan(s))"
                                                          Margin="Margin.Dense" />
                                        }
                                        else
                                        {
                                            <MudNumericField @bind-Value="input.ItemsCount" Label="Items Count" Margin="Margin.Dense" />
                                        }
                                    </MudItem>
                                    <MudItem xs="12" md="2" Class="d-flex align-center justify-end">
                                        <MudIconButton Icon="@Icons.Material.Filled.RemoveCircle" Color="Color.Error" OnClick="@(() => RemoveInputQuery(input))" Size="Size.Small" />
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                        }
                    }
                </MudItem>

                @* --- REGOLE --- *@
                <MudItem xs="12" Class="mt-4">
                    <div class="d-flex align-center justify-space-between mb-2">
                        <MudText Typo="Typo.subtitle1"><b>Regole di Validazione</b></MudText>
                        <MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="AddRule" Size="Size.Small" Variant="Variant.Outlined">Nuova Regola</MudButton>
                    </div>
                    @if (_model.RuleDefinitions != null)
                    {
                        @foreach (var rule in _model.RuleDefinitions)
                        {
                            <MudPaper Outlined="true" Class="pa-3 mb-2">
                                <MudGrid Dense="true">
                                    <MudItem xs="12" md="4">
                                        <MudTextField @bind-Value="rule.Name" Label="Nome Regola" Margin="Margin.Dense" />
                                    </MudItem>
                                    <MudItem xs="12" md="4">
                                        @if (rule.Condition != null)
                                        {
                                            <MudTextField @bind-Value="rule.Condition.Expression" Label="Espressione (es. > 80)" Margin="Margin.Dense" />
                                        }
                                    </MudItem>
                                    <MudItem xs="12" md="3">
                                        <MudSelect T="CheckStatusTypes?" Label="Stato se Passa" @bind-Value="rule.ResultsOnPass" Margin="Margin.Dense">
                                            @foreach (CheckStatusTypes status in Enum.GetValues(typeof(CheckStatusTypes)))
                                            {
                                                <MudSelectItem Value="@((CheckStatusTypes?)status)">@status.ToString()</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="12" md="1" Class="d-flex align-center justify-end">
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => RemoveRule(rule))" Size="Size.Small" />
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                        }
                    }
                </MudItem>

                @* --- STATO DEFAULT --- *@
                <MudItem xs="12" md="12" Class="mt-2">
                    <MudSelect T="CheckStatusTypes?" Label="Stato Default del Check" @bind-Value="_model.DefaultResult" Variant="Variant.Outlined" Margin="Margin.Dense">
                        @foreach (CheckStatusTypes status in Enum.GetValues(typeof(CheckStatusTypes)))
                        {
                            <MudSelectItem Value="@((CheckStatusTypes?)status)">@status.ToString()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                @* --- REMEDIATION --- *@
                <MudItem xs="12" Class="mt-2">
                    <MudText Typo="Typo.subtitle2" Class="mb-n2">Rimedio Suggerito (Remediation)</MudText>
                    <MudGrid Dense="true">
                        <MudItem xs="12" md="4">
                            <MudTextField @bind-Value="_model.Remediation.Summary" Label="Sommario" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="4">
                            <MudTextField @bind-Value="_model.Remediation.SuggestedAction" Label="Azione Suggerita" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                        <MudItem xs="12" md="4">
                            <MudTextField @bind-Value="_model.Remediation.RiskIfIgnored" Label="Rischio se ignorato" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Annulla</MudButton>
        <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Submit" Disabled="_loading">
            @if (_loading)
            {
                <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
            }
            Salva Check
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }
    [Parameter] public List<string> AvailableMetrics { get; set; } = new();

    private AddCheckHttpRequest _model = new();
    private bool _loading = false;

    protected override void OnInitialized()
    {
        _model = new AddCheckHttpRequest
        {
            TemplateLocalizedMessages = new Dictionary<string, string> { { "it-IT", "" } },
            DataSampleQuery = new AddDataSampleQueryHttpRequest
            {
                InputQueries = new AddInputDataSampleQueryHttpRequest[] {
                    new() { InputType = InputTypes.Metric, CheckQueryType = CheckQueryTypes.TimeRange, ItemsTimeRange = TimeSpan.FromMinutes(5) }
                }
            },
            RuleDefinitions = new AddRuleDefinitionHttpRequest[] {
                new() { Name = "Default Rule", Condition = new AddRuleConditionHttpRequest(), ResultsOnPass = CheckStatusTypes.Success }
            },
            Remediation = new AddRemediationHttpRequest(),
            Category = CheckCategoryTypes.Performance,
            DefaultResult = CheckStatusTypes.Warning
        };
    }

    private void AddLocalization()
    {
        var defaults = new[] { "en-US", "fr-FR", "es-ES" };
        foreach (var lang in defaults)
        {
            if (!_model.TemplateLocalizedMessages.ContainsKey(lang))
            {
                _model.TemplateLocalizedMessages.Add(lang, "");
                break;
            }
        }
    }

    private void OnLanguageKeyChanged(string oldKey, string newKey)
    {
        if (oldKey == newKey || _model.TemplateLocalizedMessages.ContainsKey(newKey)) return;
        var value = _model.TemplateLocalizedMessages[oldKey];
        _model.TemplateLocalizedMessages.Remove(oldKey);
        _model.TemplateLocalizedMessages[newKey] = value;
    }

    private void AddInputQuery()
    {
        var list = (_model.DataSampleQuery.InputQueries ?? Array.Empty<AddInputDataSampleQueryHttpRequest>()).ToList();
        list.Add(new AddInputDataSampleQueryHttpRequest { InputType = InputTypes.Metric });
        _model.DataSampleQuery.InputQueries = list.ToArray();
    }

    private void RemoveInputQuery(AddInputDataSampleQueryHttpRequest item)
    {
        var list = _model.DataSampleQuery.InputQueries.ToList();
        list.Remove(item);
        _model.DataSampleQuery.InputQueries = list.ToArray();
    }

    private void AddRule()
    {
        var list = (_model.RuleDefinitions ?? Array.Empty<AddRuleDefinitionHttpRequest>()).ToList();
        list.Add(new AddRuleDefinitionHttpRequest
        {
            Name = $"Regola {list.Count + 1}",
            Condition = new AddRuleConditionHttpRequest(),
            ResultsOnPass = CheckStatusTypes.Success
        });
        _model.RuleDefinitions = list.ToArray();
    }

    private void RemoveRule(AddRuleDefinitionHttpRequest rule)
    {
        var list = _model.RuleDefinitions.ToList();
        list.Remove(rule);
        _model.RuleDefinitions = list.ToArray();
    }

    private string GetTimeSpanString(TimeSpan? ts) => ts?.ToString(@"hh\:mm\:ss") ?? "00:05:00";

    private TimeSpan? ParseTimeSpan(string s) => TimeSpan.TryParse(s, out var ts) ? ts : TimeSpan.FromMinutes(5);

    private void Cancel() => MudDialog.Cancel();

    private async Task Submit()
    {
        if (string.IsNullOrWhiteSpace(_model.Name))
        {
            Snackbar.Add("Il nome è obbligatorio", Severity.Warning);
            return;
        }

        _loading = true;
        try
        {
            var resultId = await CheckProvider.AddCheckAsync(_model);

            if (!string.IsNullOrEmpty(resultId))
            {
                Snackbar.Add("Check creato correttamente!", Severity.Success);
                MudDialog.Close(DialogResult.Ok(resultId));
            }
            else
            {
                Snackbar.Add("Errore durante la creazione. Verificare la risposta del server.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Errore: {ex.Message}", Severity.Error);
        }
        finally { _loading = false; }
    }
}